body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(4, 1, 27);
}

nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: rgb(33, 24, 105);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 15px;
}

.firstsection {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 2rem;
    margin: 15px 0;
}

.blue {
    color: aqua;
}

.rightsection img {
    width: 70%;
}

.button {
    display: inline-block;
    background-color: rgb(5, 73, 73);
    color: beige;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    border: 4px solid rgb(85, 97, 97);
    width: 250px;

}

.button:hover {
    background-color: beige;
    color: rgb(5, 73, 73);
    border: 4px solid rgb(0, 0, 0);
    text-transform: uppercase;
}

.btn {
    margin: inherit;

}

nav li:hover {

    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    background-color: rgb(19, 18, 18);
    color: rgb(84, 235, 235);
    transition: 0.5s;
    width: 100px;

}

#element {
    color: aqua;
}

hr {

    background-color: rgb(5, 73, 73);
    height: 2px;
    border: 0px;
    margin: 40px 84px;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 650px;
}

.secondsection h1 {
    font-size: 25px;
}

.grey {
    color: gray;
}

.secondsection .box {
    background-color: rgb(5, 73, 73);
    width: 80vw;
    height: 2px;
    margin: 35px 0;
    display: flex;
}

.secondsection .experience {
    background-color: rgb(5, 73, 73);
    height: 400px;
    width: 173px;
    margin: 0 50px;
}

.image-title {
    top: 6px;
    left: 40px;
    position: relative;
    width: 75px;
}

.experience-title {
    position: relative;
    top: 23px;
    left: 4px;

}

.image-top {
    top: 5px;
    position: relative;
    width: 66px;
    left: 45px;
}

.experience-desc {

    width: 165px;
    position: relative;
    top: 43px;
    left: 7px;
    font-size: 10px;
    color: rgb(0, 0, 0);
}

.experience-desc:hover {
    font-size: 12px;
}

.experience-des {

    position: relative;
    width: 165px;
    font-size: 10px;
    left: 7px;
    color: rgb(0, 0, 0);
}

.experience-des:hover {
    font-size: 12px;
}

.skills span {
    color: aqua;
}

.skills h1 {
    text-align: center;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 23px;
    text-align: center;
    margin: 0 50px;

}

.skill-article {
    display: flex;
    background: rgb(5, 73, 73);
    flex-flow: column;
    text-align: center;
    padding: 6px 70px;
    justify-content: center;

    border-bottom: 6px solid transparent;
    border-radius: 8px;
}

.skill-article:hover {
    border-color: aqua;
}
.contact span {
    color: aqua;
}
.contact h1 {
    margin: 40px;
    text-align: center;
}
.contact-us{
    
margin-top:  90px;   
}
form{
    
    width: 60%;
    position: absolute;
    margin-left: -23%;
    margin: 0 auto;
}
.first-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    
    
}
.second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.second-part textarea{
    padding: 6px;
    height: 200px;
    width: 800px;
    background: transparent;
    font-size: 14px;
    color: aqua;
    margin-top: 17px;
    border: 1px solid rgb(37, 45, 53);
}
.second-part textarea:focus{
    border-bottom: 4px solid aqua;
}
form input{
    padding: 10px;
    background: transparent;
    margin-bottom: 30px;
    color: aqua;
    border: none;
    transition: .4s ease;
    
}
   form input:focus{
    color: aqua;
    border-bottom: 4px solid aqua;
    box-shadow: none;
}
.second-part button{
    background: transparent;
    color: aqua;
    background-color: rgb(20, 48, 71);
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    border-radius: 30px;
    cursor:grab;
}
footer{
    margin-top: 600px;
    margin-bottom: 45px;
    color: blue;
}